.header {
	position: absolute;
	font-family: "STIX Two Text";
	color: #FFFFFF;
	font-size: 20px;
}

.aaa {
    top: 50px;
    left: 149px;
    position: absolute;
	font-family: "STIX Two Text";
	font-size: 40px;
}

.vhod {
    top: 60px;
	left: 1716px;
	position: absolute;
}


body {
    font-family: "STIX Two Text";
	color: #FFFFFF;
    background: url('img/задник.svg') 0 0/1920px 835px no-repeat;
}

.studback {
    position: absolute;
    top: 910px;
    left: 162px;
}

.student {
    position: absolute;
    top: 950px;
    left: 203px;
}

.stutext {
    color: #352F2F;
    font-size: 25px;
    position: absolute;
    margin-top: 1303px;
    margin-left: 202px;
    margin-right: 1089px;
}

.text {
    padding: 10px;
    font-size: 39px;
    position: absolute;
    margin-top: 265px;
    margin-left: 162px;
    margin-right: 231px;

}

.prava {
    font-size: 20px;
    top: 764px;
    left: 162px;
    position: absolute;
}

.predrinimatel {
    position: absolute;
    top: 910px;
    left: 1112px;
}

.preding {
    position: absolute;
    top: 949px;
    left: 1153px;
}

.pretext {
    position: absolute;
    margin-top: 1334px;
    margin-left: 1162px;
    margin-right: 133px;
    font-size: 25px;
    color: #352F2F;
}

.pryamo {
    position: absolute;
    top: 604px;
    left: 1455px;
}

.logo {
    position: absolute;
    top: 622px;
    left: 1472px;
}

.abcd {
    position: absolute;
    font-size: 16px;
    color: #352F2F;
    top: 672px;
    left: 1659px;
}